.arriveColor{
    color : green;
}

.leaveColor{
    color:red;
}

.paddingLarge{
    padding-top: 10px;
    padding-bottom: 10px;
}

.line{
    border-left: 2px solid grey;
}

.width-line{
    width: 10px;
}

.full-width{
    width: 100%;
}

.flex{
    display: flex;
    padding-left: 25px;
}

.paddingSmall{
    padding-top: 5px;
    padding-bottom: 5px;
}

.decoration{
    text-decoration: underline;
}
.padding-right{
    padding-right: 5px;
}

.center{
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    white-space: nowrap;
}

.dateSize{
    font-size: medium
}

.largeSize{
    font-size: large
}

.greyColor{
    color: grey;
}

.smallSize{
    font-size: small;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.margin-right{
    margin-right: 10px;
}